{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="//caipyra.python.org.br/img/caipyra_logo_2016.png" alt="Caipyra 2016">
                    <div class="intro-text">
                        <span class="skills color-yellow">O único evento de Python com Quentão e Paçoquinha!</span>
                        <h3>Quantos sonhos você realizou aqui no Caipyra?</h3>
                    </div>
                    <a href="#" class="btn btn-lg btn-buy btn-default">
                        Diz pra gente :)
                    </a>
                    <form method="POST" class="form-dreams">
                        {% csrf_token %}
                        <p>{{ form.counter }}<p>
                        <p><button class="btn btn-lg btn-buy btn-default" type="submit">Enviar</button></p>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>
